.techstack-container {
  text-align: center;
  padding: 30px 20px;
}

.techstack-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.tech-item:hover {
  transform: scale(1.1);
}

.tech-item img {
  width: 30px;
  height: 30px;
}

.tech-item p {
  font-size: 0.9rem !important;
  color: #ccd6f6;
}
