.social-links.row {
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.social-links.column {
    flex-direction: column;
    align-items: flex-start;

    .github {
        color: #111;
    }

}
.social-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-links a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.social-links a:hover {
    color: #ff4757;
    transform: translateX(5px);
}

.icon {
    font-size: 2rem;
}

.twitter {
    color: #1DA1F2;
}

.facebook {
    color: #1877F2;
}

.linkedin {
    color: #0A66C2;
}

.instagram {
    color: #E1306C;
}

.github {
    color: #fff;
}

.contact-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.contact-right img {
    max-width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 900px) {
    .contact-container {
        flex-direction: column;
        text-align: center;
    }

    .social-links {
        align-items: center;
    }

    .contact-right img {
        margin-top: 2rem;
        max-width: 250px;
    }
}