html, body, #root, #main-app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Default Light Mode */
body.light-theme {
  background-color: #ffffff;
  color: #111;
}

/* Dark Mode */
body.dark-theme {
  background-color: #0a192f;
  color: #eee;
}

/* Header Styling */
.header {
  background-color: #070709;
  transition: background-color 0.3s ease;
}

body.light-theme .header {
  background-color: #d4bb22;
  color: #111;
}

body.dark-theme .header {
  background-color: #070709;
  color: #fff;
}

/* Footer Styling */
.footer {
  background-color: #070709;
  color: #fff;
  transition: background-color 0.3s ease;
}

body.light-theme .footer {
  background-color: #d4bb22;
  color: #111;
}

body.dark-theme .footer {
  background-color: #070709;
  color: #fff;
}

/* Links */
.linkTo {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.linkTo::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #ff4081;
  transition: 0.3s;
}

.linkTo:hover::after {
  width: 100%;
}
